* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(175, 166, 166);
}
.box {
  width: 300px;
  background-color: rgb(48, 48, 179);
  text-align: center;
  border-radius: 16px;
  height: 280px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.span {
  font-size: 80px;
}
.box h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0 0 0;
}
.btn1 {
  position: absolute;
  padding: 10px 20px;
  border-radius: 50%;
  left: 36%;
  top: 45%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid rgb(189, 171, 171);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3),
    -4px -4px 10px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.bi-dash,
.bi-plus-lg {
  font-size: 40px;
}

.btn2 {
  position: absolute;
  padding: 10px 20px;
  border-radius: 50%;
  right: 36%;
  top: 45%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid rgb(189, 171, 171);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
    -4px -4px 10px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.btn:active {
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2),
    inset -4px -4px 10px rgba(255, 255, 255, 0.1);
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  .box {
    width: 285px;
  }
  .btn1 {
    left: 0;
  }
  .btn2 {
    right: 0;
  }
}
